<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration debug="true">

	<property name="LOGS" value="./logs" />

	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable -->
			<pattern>%d{ISO8601} %-5level [%t] %C{1}: %msg%n%throwable</pattern>
		</encoder>
	</appender>

	<appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS}/kism.log</file>
		<encoder>
			<pattern>%d %p %C{1} [%t] %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily and when the file reaches 10 MegaBytes -->
			<fileNamePattern>${LOGS}/archived/kism-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>

	<!-- silence the verbose ArchUnit analysis stuff: -->
	<logger name="com.tngtech.archunit.core.importer.JavaClassProcessor" level="info"/>
	
	<!-- silence the LogBacks startup mumbling : -->
	<logger name="ch.qos.logback" level="warn"/>
	<logger name="net.schmizz.sshj" level="warn"/> <!-- why does this have no influence? info messages still appear ||-(  -->

	<logger name="org.springframework.security.web.savedrequest.HttpSessionRequestCache" level="warn"/>
	<logger name="net.mmo.utils.kism.security.CustomRequestCache" level="warn"/>
	<logger name="net.mmo.utils.kism.security.SecurityUtils" level="warn"/>
	<logger name="net.mmo.utils.kism.ui.utils.UIHandlerSupport" level="info"/>
	<logger name="net.mmo.utils.kism.ui.view.results" level="debug"/>
	<logger name="net.mmo.utils.kism.ui.views.history" level="debug"/>
	<!--
	<logger name="net.mmo.utils.kism" level="info"/>
	<logger name="net.mmo.utils.kism.backend.service.NodeService" level="trace"/>
	<logger name="net.mmo.utils.kism.ui.views.nodes" level="debug"/>
	<logger name="net.mmo.utils.kism.ui.views.nodes.NodeForm" level="debug"/>
	<logger name="net.mmo.utils.kism.ui.views.nodes.connection_forms" level="debug"/>
	<logger name="net.mmo.utils.kism.utils.KeyValuesConverter" level="trace"/>
	<logger name="net.mmo.utils.kism.utils.PropertyResolver" level="trace"/>
	<logger name="net.mmo.utils.kism.utils.HTTP_Authorization" level="trace"/>
	<logger name="net.mmo.utils.kism.entities.nodes.connections.HTTPConnection" level="trace"/>
	<logger name="net.mmo.utils.kism.entities.nodes.connections.RESTConnection" level="debug"/>
	<logger name="net.mmo.utils.kism.entities.nodes.ResultChecker" level="trace"/>
	<logger name="com.vaadin.flow.data.binder.Binder" level="debug"/>
	-->

	<root level="info">
		<appender-ref ref="Console" />
		<appender-ref ref="RollingFile" />
	</root>
</configuration>
