:host([theme~="label-padding"]) [part="label"] {
	padding-top: 2px;
	padding-bottom: 1px;
	font: monospace;
}

[part="input-field"] {
	padding-top: 0px;
	padding-bottom: 0px;
	max-height: 20em;
}

:host([theme~="monospace"]) [part="value"] {
	font-size: medium;
	font-family: monospace;
	white-space: pre;
	overflow-x: auto;
	padding-bottom: 1em;
}
